extends ../layouts/application.pug

block header
  = t('layouts.application.edit')

block content
  +formFor()(action=`/users/${user.id}` method='post')
    +input(user, 'firstName', value =t('views.users.firstName'), errors)(type="text", value = user.firstName)
    +input(user, 'lastName', value =t('views.users.lastName'), errors)(type="text", value = user.lastName)
    +input(user, 'email', value =t('views.users.email'), errors)(type="text", value = user.email)
    +input(user, 'password', 'Пароль', errors)(type="password")
    +submit(user)(value=t('views.users.new.submit'))